.spot-details--div {
  margin-top: 50px;
}

.img-wrap{
  max-width: 400px;
  width: 100%;
  margin-right: 1.5%;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 4px;
}

.img-wrap img{
  width: 100%;
}

.spot-details--container {
  display: flex;
}

.review-message--container {
  display: flex;
  justify-content: center;
}

.edit-and-delete--container {
  display: flex;
  margin-top: 6px;
}

button{
  padding: 8px 12px;
  outline: none;
  border: none;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
}

.edit_button, .add_review{
  background-color: teal;
}

.delete_button{
  background-color: rgb(238, 19, 19);
}

.edit-spot-modal {
  border: 2px solid yellow;
}